header {
  background-image: url("../img/header_bg1.png");
  background-repeat: no-repeat;
  height: 720px;
}
header nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.menu ul {
  display: flex;
  margin-top: 31px;
}
.menu ul li {
  margin-left: 40px;
  border-bottom: 1px dashed;
}
.mob-menu {
  display: none;
}
.header_content {
  display: flex;
  justify-content: space-between;
}
.header_text {
  max-width: 498px;
}
.header_text .title {
  font-size: 64px;
  line-height: 62px;
  font-weight: bold;
  color: #3b3944;
  margin: 0;
}
.header_text .sub_title {
  font-size: 34px;
  line-height: 36px;
  font-weight: 500;
  color: #4b69b0;
  margin: 0;
  margin-top: 10px;
}
.header_text ul {
  margin-top: 55px;
}
.header_text ul li {
  margin-bottom: 25px;
  position: relative;
  padding-left: 40px;
  font-size: 20px;
  font-weight: 500;
  color: #3b3944;
}
.header_text ul li:before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #5a77ba;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.header_text ul li:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #2d96cc;
  position: absolute;
  left: 5px;
  top: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.header_text .list_wrap {
  position: relative;
}
.header_text .list_wrap .pack {
  position: absolute;
  right: 0;
  top: -26px;
  height: 403px;
  width: 480px;
  transform: translateX(76%);
  -webkit-transform: translateX(76%);
  -moz-transform: translateX(76%);
  -ms-transform: translateX(76%);
  -o-transform: translateX(76%);
}
.header_form form {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.header_form form {
  width: 270px;
  text-align: center;
  padding: 15px 17px 40px 17px;
  background: white;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}
.header_form form .input_wrap {
  position: relative;
  margin-bottom: 16px;
}
.header_form form .input_wrap img {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.header_form form .input_wrap input {
  width: 220px;
  height: 60px;
  padding-left: 55px;
  box-shadow: none;
  border: none;
  border: 1px solid #a6aebb;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 18px;
  outline: none;
}
.header_form form .input_wrap input:focus {
  border: 1px solid #2e96cd;
}
.header_form form .title {
  font-size: 28px;
  font-weight: 700;
  color: #5774b8;
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0 5px;
}
.header_form form .price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}
.header_form form .old,
.header_form form .new {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 110px;
  text-align: left;
}
.header_form form .price_title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}
.header_form form .price_value {
  margin: 10px 0 0 0;
}
.header_form form .old {
  border-right: 1px solid #d9ecf2;
  color: #737e96;
}
.header_form form .old .price_title {
  font-size: 13px;
  font-weight: 400;
}
.header_form form .old .price_value .value {
  display: inline-block;
  position: relative;
  font-size: 28px;
  font-weight: 400;
}
.header_form form .old .price_value .value:before,
.header_form form .old .price_value .value:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #f87669;
  transform-origin: center;
}
.header_form form .old .price_value .value:before {
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}
.header_form form .old .price_value .value:after {
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}
.header_form form .old .price_value .currency {
  font-size: 16px;
}
.header_form form .new .price_title {
  font-size: 14px;
  font-weight: 400;
  color: #30302f;
}
.header_form form .new .price_value {
  color: #36bde3;
}
.header_form form .new .price_value .value {
  font-size: 44px;
  font-weight: 700;
  line-height: 40px;
}
.header_form form .new .price_value .currency {
  font-size: 16px;
  font-weight: 500;
}
.custom_header-img {
  position: absolute;
  top: 20px;
  left: 50%;
  height: 700px;
  transform: translateX(-27%);
  -webkit-transform: translateX(-27%);
  -moz-transform: translateX(-27%);
  -ms-transform: translateX(-27%);
  -o-transform: translateX(-27%);
}
.add_shadow {
  height: 8px;
  width: 200px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  pointer-events: none;
  margin: -4px auto 0 auto;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1200px) {
  .header_text {
    max-width: 498px;
  }
  .header_text .title {
    font-size: 54px;
    line-height: 52px;
  }
  .header_text .sub_title {
    font-size: 24px;
    line-height: 26px;
  }
  .header_text .list_wrap .pack {
    position: relative;
    right: 0;
    top: 0;
    height: unset;
    width: 285px;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  .custom_header-img {
    position: absolute;
    top: 60px;
    left: 70%;
    height: 660px;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
.btn_close_menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px;
  top: 10px;
  height: 30px;
}
.btn_close_menu span {
  display: block;
  width: 30px;
  height: 2px;
  background: #ffffff;
  transform-origin: center;
  position: relative;
  top: 14px;
}
.btn_close_menu span:nth-child(1) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.btn_close_menu span:nth-child(2) {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  margin-top: -1px;
}
.btn_toggle_menu {
  display: none;
}
.btn_toggle_menu span {
  display: block;
  width: 50px;
  height: 2px;
  background: #5774b8;
  margin-bottom: 10px;
  pointer-events: none;
}
@media (max-width: 750px) {
  header {
    height: auto;
    background-size: cover;
    padding-bottom: 30px;
  }
  header nav {
    margin-bottom: 20px;
  }
  .header_content {
    flex-wrap: wrap;
  }
  .header_form form {
    margin: 0 auto;
  }
  .logo img {
    width: 160px;
  }
  .menu {
    display: none;
  }
  .mob-menu {
    display: block;
    position: fixed;
    height: 100%;
    right: 0;
    width: 200px;
    z-index: 1;
    background: #5774b8;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: transform 400ms;
    -webkit-transition: transform 400ms;
    -moz-transition: transform 400ms;
    -ms-transition: transform 400ms;
    -o-transition: transform 400ms;
  }
  .mob-menu ul {
    margin-left: 20px;
    margin-top: 50px;
  }
  .mob-menu ul li {
    color: #ffffff;
    margin-bottom: 20px;
    border-bottom: 1px dashed;
    width: fit-content;
  }
  .mob-menu.open {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: transform 400ms;
    -webkit-transition: transform 400ms;
    -moz-transition: transform 400ms;
    -ms-transition: transform 400ms;
    -o-transition: transform 400ms;
  }
  .btn_toggle_menu {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .header_text {
    max-width: unset;
  }
  .header_text .title {
    font-size: 44px;
    line-height: 42px;
  }
  .header_text .sub_title {
    font-size: 24px;
    line-height: 26px;
  }
  .header_text .list_wrap {
    text-align: center;
  }
  .header_text .list_wrap .pack {
    width: 200px;
  }
  .header_text ul {
    margin-top: 25px;
    text-align: left;
  }
  .header_text ul li {
    margin-bottom: 10px;
    font-size: 14px;
    padding-left: 30px;
  }
  .header_text ul li:before {
    width: 14px;
    height: 14px;
    left: 0;
    top: 0;
  }
  .header_text ul li:after {
    width: 6px;
    height: 6px;
    left: 5px;
    top: 5px;
  }
  .custom_header-img {
    display: none;
  }
  .header_form {
    margin: 0 auto;
  }
  .header_form form {
    padding-bottom: 20px;
  }
  .header_form form .input_wrap {
    margin-bottom: 10px;
  }
  .header_form form .input_wrap input {
    height: 40px;
    padding-left: 55px;
    font-size: 16px;
  }
  .header_form form .title {
    font-size: 24px;
  }
}
